@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Ysabeau+Infant:wght@100;400&display=swap');

*{
    font-family: 'Ysabeau Infant'
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .entry-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .target {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333333;
  }
  
  th {
    background-color: #373737;
    color: #fff;
  }
  
span{
    color: #fff;
}
  
  tr:hover {
    background-color: #0b002f;
  }
  
  button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2d2d2d;
  }
  
  .summary {
    margin-top: 20px;
  }
  
  .summary h2 {
    margin-bottom: 10px;
  }
  

